<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Network permission added here -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lafyuu"
        tools:targetApi="31">
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".FavoriteProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".SuperFlashSaleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Base.Theme.Lafyuu"
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Lafyuu.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>